[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coredatamodules = {editable = true,git = "https://github.com/AfricasVoices/CoreDataModules",ref = "v0.16.3"}
pipelineinfrastructure = {editable = true,git = "https://www.github.com/AfricasVoices/Pipeline-Infrastructure",ref = "v0.1.5"}
rapidprotools = {editable = true,git = "https://github.com/AfricasVoices/RapidProTools",ref = "v0.3.9"}

[requires]
python_version = "3.8"
