[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coredatamodules = {editable = true,git = "https://github.com/AfricasVoices/CoreDataModules",ref = "v0.15.0"}
pipelineinfrastructure = {editable = true,git = "https://www.github.com/AfricasVoices/Pipeline-Infrastructure",ref = "v0.0.12"}
rapidprotools = {editable = true,git = "https://github.com/AfricasVoices/RapidProTools",ref = "create-field-field-id"}

[requires]
python_version = "3.6"
